.header {
    height: 95vh;
    background-image: linear-gradient( to left bottom, #7ed56f66, #28b485), url(../../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    @mixin transform($property) {
        -webkit-transform: $property;
        -ms-transform: $property;
        transform: $property;
    }
    &__logo {
        height: 3.5rem;
        @include transform(rotate(30deg));
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}